# JWT Token Secrets
SECRET_KEY="your-secret-key-here"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database Configuration
DATABASE_URL="postgresql://Postgres:sh******@localhost:6314/database_name"